<!DOCTYPE html>
<html language="en" ng-app="worshipApp">
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="public/css/worship.css">
		<link rel="stylesheet" href="public/css/instrument.css">

	</head>

	<body>

        <div class="container">
            <h1 class="title">Beyond Collaboration</h1>
        </div>
		<div ng-view></div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-touch.min.js"></script>
        <script src="public/js/lib/underscore-min.js"></script>
		<script src="public/components/instruments/module.js"></script>
		<script src="public/js/app.js"></script>
	</body>
</html>
